:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
  .page {
    background-color: #f1f5f9;
    min-height: 100vh;
  }
/* Start Projects Table */
.projects .responsive-table {
    overflow-x: auto;
  }
  .projects table {
    min-width: 100%;
    border-spacing: 0;
  }
  .projects thead td {
    background-color: #eee;
    font-weight: bold;
  }
  .projects table td {
    padding: 15px;
  }
  .projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
  }
  .projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
  }
  .projects tbody tr:hover td {
    background-color: #faf7f7;
  }
  .projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
  }
  .projects table img:hover{
    /* opacity: 0.8; */
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 0px;
  }
  .projects table img:not(:first-child) {
    margin-left: -20px;
  }
  .projects table .label {
    font-size: 13px;
  }
  /* End Projects Table */
  /* Start Settings */
  .settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  @media (max-width: 767px) {
    .settings-page {
      grid-template-columns: minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  }
   .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
  }
    .email {
    display: inline-flex;
    width: calc(100% - 80px);
  }
  .settings-page .sec-box {
    padding-bottom: 15px;
  }
  .settings-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
  .settings-page .sec-box .button {
    transition: 0.3s;
  }
  .settings-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
  }
  .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
  }
  .settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
  }
  .settings-page .social-boxes > div:focus-within i {
    color: black;
  }
  .widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
  }
  .widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
  }
  .widgets-control .control label::before,
  .widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
  }
  .widgets-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
  }
  .widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
  }
  .widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
  }
  .widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
  }
  .backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
  }
  .backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
  }
  .backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
  }
  .backup-control .date label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: var(--blue-color);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
  }
  .backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
  }
  .backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
  }
  .backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  @media (max-width: 767px) {
    .backup-control .servers {
      flex-wrap: wrap;
    }
  }
  .backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
  }
  .backup-control .servers .server label {
    cursor: pointer;
  }
  .backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
  }
  .toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
  .toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
  }
  .toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
  }
  .toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
  }
  .settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
  } 
  /* End Settings */